html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 80px;
}

.hidden {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.footer .logo:before {
  display: inline-block;

  background-image: url(hnwlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: text-top;
  content: " ";
  height: 1em;
  width: 2em;
}
