.trap-url {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;

  cursor: pointer;
}

.visits .cell-header {
  display: none;
}

.visits .timestamp .absolute {
  display: block;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .visits thead {
    display: none;
  }

  .visits tbody tr {
    display: block;
    border-top: 1px solid #ddd;
    padding: 0.5em;
    padding-top: 10px;
    padding-bottom: 14px;
    clear: both;
  }

  .visits tbody tr td {
    display: block;
    border-top: none;
    padding-top: 3px;
    padding-bottom: 2px;
    line-height: 1em;
  }

  .visits .cell-header {
    text-transform: uppercase;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
  }

  .visits .timestamp .cell-header {
    display: none;
  }

  .visits .timestamp {
    float: right;
    font-size: 0.8em;
    color: #555;
    text-align: right;
  }

  .visits .ip {
    float: left;
  }

  .visits .ip ~ td {
    clear: both;
  }

  .visits .no-content {
    display: none;
  }

  .visits .cell-content {
    display: block;
    line-height: 1.4em;
  }
}
