body {
  padding-top: 70px;
}

.trap-group {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .trap-url {
    -webkit-user-select: all;
    -moz-user-select: text;
    -ms-user-select: all;
    user-select: all;

    cursor: pointer;
  }
}

.help {
  font-size: 12px;
  vertical-align: bottom;
}

.table thead th {
  border: none;
}

.visits {
  .cell-header {
    display: none;
  }

  .country-flag {
    padding-right: 0.33em;
  }

  .timestamp .absolute {
    display: block;
    white-space: nowrap;
  }

  @media (max-width: 991px) {
    thead {
      display: none;
    }

    tbody tr {
      display: block;
      border-top: 1px solid #ddd;
      padding: 0.25em;
      padding-top: 10px;
      padding-bottom: 14px;
      clear: both;

      td {
        display: block;
        border-top: none;
        padding-top: 3px;
        padding-bottom: 2px;
        line-height: 1em;
      }
    }

    .cell-header {
      text-transform: uppercase;
      display: block;
      font-size: 0.9em;
      font-weight: bold;
    }

    .cell-content {
      display: block;
      line-height: 1.4em;
    }

    .no-content {
      display: none;
    }

    .timestamp {
      float: right;
      font-size: 0.8em;
      color: #555;
      text-align: right;

      .cell-header {
        display: none;
      }
    }

    .ip {
      float: left;

      ~ td {
        clear: both;
      }
    }
  }
}
