<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    {{#each styles}}
      <link rel="stylesheet" href="{{this}}">
    {{/each}}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            URL:geller
          </a>
        </div>
      </div>
    </nav>

    {{{body}}}

    <footer class="footer text-muted">
      <div class="container">
        <hr>
        <p class="pull-right">
          Made with <span class="glyphicon glyphicon-scissors"></span> in Finland
        </p>
      </div>
    </footer>

    {{#each scripts}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
