<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>URL:geller</h1>
        <a class="btn btn-primary btn-lg" href="/new">Let's go!</a>
      </div>
    </div>
  </div>
</div>
