@import "~bootstrap/scss/bootstrap.scss";

html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}

section {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

#app {
  margin-bottom: 4.5rem;
  padding-top: 50px;
}

.page-index {
  padding-top: 40px;

  @include media-breakpoint-up(md) {
    padding-top: 55px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 70px;
  }

  strong {
    color: red;
  }

  nav {
    display: none;
  }

  .heading {
    @extend .container;
    padding: 0 25px;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 0 30px;
      text-align: left;
    }

    .logo {
      height: 128px;
      background-image: url("utlogo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;

      @include media-breakpoint-up(md) {
        background-position: bottom right;
      }

      @include media-breakpoint-up(lg) {
        height: 140px;
      }

      @include media-breakpoint-up(xl) {
        height: 150px;
      }
    }

    .blurb {
      padding-top: 10px;

      @include media-breakpoint-up(md) {
        padding-left: 30px;
      }

      .lead {
        font-size: 16px;

        @include media-breakpoint-up(sm) {
          font-size: 18px;
        }

        @include media-breakpoint-up(md) {
          font-size: 20px;
        }
      }
    }
  }

  .comics {
    @extend .container;
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(xl) {
      width: 100%;
    }

    .comic {
      height: 300px;
      margin-bottom: 30px;

      @include media-breakpoint-up(sm) {
        height: 260px;

        &.comic-1, &.comic-2 {
          margin-bottom: 10px;
        }

        &.comic-1 {
          background-position: left;
        }

        &.comic-2 {
          background-position: right;
        }
      }

      @include media-breakpoint-up(md) {
        height: 300px;
        margin-bottom: 0;

        &.comic-1, &.comic-2 {
          background-position: center;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 300px;

        &.comic-1 {
          background-position: left;
        }

        &.comic-3 {
          background-position: right;
        }
      }

      @include media-breakpoint-up(xl) {
        height: 25vw;
        min-height: 300px;

        &.comic-1 {
          background-position: right;
        }

        &.comic-3 {
          background-position: left;
        }
      }

      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      &.comic-1 {
        background-image: url("1.png");
      }

      &.comic-2 {
        background-image: url("2.png");
      }

      &.comic-3 {
        background-image: url("3.png");
      }
    }
  }
}

@font-face {
  font-family: "social";
  src: url("font/social.eot");
  src: url("font/social.eot#iefix") format("embedded-opentype"),
    url("font/social.woff2") format("woff2"),
    url("font/social.woff") format("woff"),
    url("font/social.ttf") format("truetype"),
    url("font/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .container {
    padding-bottom: 1rem;

    hr {
      margin-bottom: 0.5rem;
    }

    .logo,
    .blurb {
      margin-top: 0.5rem;
    }

    .social {
      display: inline-block;
      font-size: 2rem;
      line-height: 2rem;

      margin: 0;
      margin-left: 0.25rem;
      margin-right: 0.25rem;

      .icon {
        font-family: "social";
        width: 1em;
        height: 1em;
        text-decoration: none;

        color: $text-muted;
        &:hover {
          color: black;
        }
        &:active {
          color: $text-muted;
        }

        padding-left: 0.75rem;
        &:first-child {
          padding-left: 0;
        }

        &.twitter:before {
          content: "\f099";
        }

        &.github:before {
          content: "\f09b";
        }
      }
    }

    .logo:before {
      display: inline-block;

      background-image: url("hnwlogo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      content: "\00a0";
      margin-right: 0.2em;
      height: 1.4em;
      width: 2em;
    }
  }
}

.page-monitor {
  padding-top: 70px;

  .trap {
    .trap-group {
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      .trap-url {
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;

        cursor: pointer;
      }
    }

    .help {
      font-size: 12px;
      vertical-align: bottom;
    }
  }

  .monitor {
    .visits-header {
      border-bottom: 1px solid #eee;

      .live-updates {
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding-top: 0.4rem;
        text-align: right;
      }
    }

    .no-visits {
      padding: 0.75rem 0;
    }

    .table {
      thead th {
        border: none;
      }

      .cell-header {
        display: none;
      }

      .country-flag {
        padding-right: 0.33em;
      }

      .timestamp .absolute {
        display: block;
        white-space: nowrap;
      }

      @media (max-width: 991px) {
        thead {
          display: none;
        }

        tbody tr {
          display: block;
          border-top: 1px solid #eee;
          padding: 0.25em;
          padding-top: 10px;
          padding-bottom: 14px;
          clear: both;

          &:first-child {
            border: none;
          }

          td {
            display: block;
            border-top: none;
            padding-top: 3px;
            padding-bottom: 2px;
            line-height: 1em;
          }
        }

        .cell-header {
          text-transform: uppercase;
          display: block;
          font-size: 0.9em;
          font-weight: bold;
        }

        .cell-content {
          display: block;
          line-height: 1.4em;
        }

        .no-content {
          display: none;
        }

        .timestamp {
          float: right;
          font-size: 0.8em;
          color: #555;
          text-align: right;

          .cell-header {
            display: none;
          }
        }

        .ip {
          float: left;

          ~ td {
            clear: both;
          }
        }
      }
    }
  }
}
